<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="GOA Pictures" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is main page</h1>
    <p><b><strong>this page is about Accessories and Goa</strong></b></p>
    <p><i><em><u>we have two pages: </u></i></em>firts:<a href="Products Page.html">products</a> and  second:<a href="Advertisments Page.html">Advertisments</a></p>

    <img src="https://as1.ftcdn.net/v2/jpg/02/29/66/04/1000_F_229660418_qeDV0lEoBHMkdrhE0gC7wuXOmGrPDy6u.jpg" width="400" alt="have fun">

    
</body>
</html>